<style>
    /* Custom CSS for a styled table with rounded corners, column hover effect, and smooth transition */
    table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid #ccc;
    }

    table, th, td {
        border: 1px solid #ccc;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #3a3a3a;
        font-weight: bold;
    }

    /* Lighten the background color of cells on hover */
    .column-type-selector  {
        transition: background-color 0.3s ease; /* Smooth transition effect */
    }

    .column-type-selector:hover {
        background-color: #595959; /* Lighter background color on hover */
    }

</style>

<form hx-post="{% url "data_import_apply" %}"
      hx-trigger="submit"
      hx-target="#data_import_parsed_items"
      hx-indicator="#location_options_indicator"
      id="data_import_headers_config"
      hx-vals="js:{data:getMergedFormsData(['data_import_headers_config', 'data_import_form'])}">
    {% csrf_token %}
    <table class="dataframe table m-5">
        <thead>
        <tr style="text-align: right;">
            {% for column in df.columns %}
                <th>
                    {{ column }}
                    <div class="radio-buttons flex space-x-2 mt-2">
                        <label class="column-type-selector flex items-center rounded-md border border-blue-500 text-white px-3 py-1">
                            <input type="radio" name="{{ column }}_choice" id="{{ column }}_name" value="name"
                                   autocomplete="off" {% if forloop.first %}checked{% endif %}> Name
                        </label>
                        <label class="column-type-selector flex items-center rounded-md border border-blue-500 px-3 py-1">
                            <input type="radio" name="{{ column }}_choice" id="{{ column }}_location"
                                   value="location"
                                   autocomplete="off" {% if forloop.first == False %}checked{% endif %}> Location
                        </label>
                        <label class="column-type-selector flex items-center rounded-md border border-red-500 px-3 py-1">
                            <input type="radio" name="{{ column }}_choice" id="{{ column }}_ignore"
                                   value="ignore"
                                   autocomplete="off"> Ignore
                        </label>
                    </div>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for index, row in df.iterrows %}
            <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "btn.html" with text="Submit" %}

{% include "loading_indicator.html" with id="location_options_indicator" %}
</form>

<div id="data_import_parsed_items"></div>
