{% for result in results %}
    <form hx-post="{% url "data_import_create_entity" %}" hx-target="#create-btn-{{ forloop.counter }}">
        {% csrf_token %}
        <div class="grid grid-cols-5 gap-4 my-2"> <!-- Apply margin as needed -->
            <div class="w-full col-span-2 text-right">{{ result.name }} ({{ result.location }}) :</div>
            <input hidden name="name" value="{{ result.name }}">
            <select name="location"
                    class="w-full col-span-2 py-2 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 bg-gray-700">
                {% for option in result.options %}
                    <option value="{{ option.id }}" class="py-3 bg-gray-600">
                        {{ option }}
                    </option>
                {% endfor %}
            </select>
            <div class="col-span-1" id="create-btn-{{ forloop.counter }}">
                {% include "btn.html" with text="Create" %}
            </div>
        </div>
    </form>
{% endfor %}
