<div class="flex justify-center">
    <form class="flex justify-center"
          hx-trigger="keyup[target.value.length >= 3] delay:200ms"
          hx-post="{% url 'location_search' %}" hx-target="#search-results">
        {% csrf_token %}

        <div>
            {% for field in location_search_form %}
                {{ field }}
            {% endfor %}
            <div id="search-results" class="absolute bg-gray-900 mt-1 w-full max-w-md z-10 rounded">
                <!-- Search results will be displayed here -->
            </div>
        </div>
        <div>{% include "btn.html" with text="Search" %}</div>
    </form>
</div>