<div id="location-form-container" class="flex justify-center m-1">

    <form id="location-form" hx-post="{% url 'create_entity' %}" hx-target="#resources">
        {% csrf_token %}
        <div class="flex flex-wrap">
            {% for field in location_form %}
                <div class="shrink">
                    {{ field }}
                </div>
            {% endfor %}
            {% include "btn.html" with text="Submit" margin="2" %}
        </div>

    </form>

<div class="mx-5">
    {% include "location_search.html" %}
    </div>

    <div>
        <a href="#" onclick="openWindow();">
            {% include "btn.html" with text="Import from spreadsheet" margin=2 %}
        </a>
    </div>
</div>


<script>
    function openWindow() {
        const url = "{% url 'data_import' %}";
        const sizeMultiplier = 0.8;

        const width = screen.width * sizeMultiplier;
        const height = screen.height * sizeMultiplier;
        const left = (screen.width - width) / 2;
        const top = (screen.height - height) / 2;

        window.open(
            url, '_blank',
            'width=' + width
            + ',height=' + height
            + ',left=' + left
            + ',top=' + top
        );
    }
</script>