<script>
    var coordinatesRawPlannedTransport = [
        {% for item in planning_set.plannings %}
            "{{ item.transport.location.coordinates }}",
        {% endfor %}
    ];
    var coordinatesRawPlannedShipments = [
        {% for item in planning_set.plannings %}
            "{{ item.shipment.location.coordinates }}",
        {% endfor %}
    ];
    var coordinatesRawTransport = [
        {% for item in planning_set.unplanned_transports %}
            "{{ item.location.coordinates }}",
        {% endfor %}
    ];
    var coordinatesRawShipments = [
        {% for item in planning_set.unplanned_shipments %}
            "{{ item.location.coordinates }}",
        {% endfor %}
    ];
    var plannedLines = JSON.parse('{{ planning_polylines }}');
    
    
    var centerCoordinate = [48.95131393590893, 21.134053373262336];
    var mapZoom = 3;

    var newCenterCoordinate = JSON.parse('{{ center_coordinate }}');
    if (newCenterCoordinate[0] !== 0 && newCenterCoordinate[1] !== 0) {
        centerCoordinate = newCenterCoordinate;
        mapZoom = 6;
    }


    
</script>

<style>
    .transparent-marker {
        opacity: 0.8;
        font-size: large;
    }
</style>