<div class="bg-gray-800 rounded-lg p-4 m-4 w-full">
    <h2 class="text-center px-4 py-2">Planned</h2>

    <div class="grid grid-cols-12 gap-2">
        {% for item in items %}

            {% if item.route == None %}
                <form hidden hx-post="{% url "request_route" %}" hx-trigger="load" hx-target="#resources">
                    {% csrf_token %}
                    <input hidden type="hidden" name="planning_id" value="{{ item.id }}">
                </form>
            {% endif %}

            <!-- Grid column 1 -->
            <div class="col-span-5">
                <div class="bg-gray-700 p-2 rounded text-center w-full h-full">
                    {{ item.transport.name }} ({{ item.transport.location.address }})
                </div>
            </div>
            <!-- Grid column 2 -->
            <div class="col-span-5">
                <div class="flex">
                    <div class="bg-gray-700 p-2 rounded text-center w-full">
                        {{ item.shipment.name }} ({{ item.shipment.location.address }})
                    </div>
                </div>
            </div>
            <!-- Grid column 3 -->
            <div class="col-span-1">
                <div class="flex">
                    <div class="text-right w-full
                        {% if item.route.distance_km > 200 and item.route.distance_km < 500 %}
                            text-red-200
                        {% elif item.route.distance_km > 500 %}
                            text-red-400
                        {% endif %}">
                        {{ item.route.distance_km }} km
                    </div>
                </div>
            </div>
            <!-- Grid column 4 -->
            <div class="col-span-1">
                <div class="flex">
                    <form method="post" class="pl-2" hx-post="{% url 'cancel_planning' %}" hx-target="#resources">
                        {% csrf_token %}
                        <input type="hidden" name="planning_id" value="{{ item.id }}">
                        <button type="submit" class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded">
                            Cancel
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}

        <div class="text-right col-span-12">
            Total empty km: {{ total_empty_km }} km
        </div>
    </div>
</div>
